.send__mail{
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 70%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
    z-index: 1000;
}

.send__mail__header{
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.send__mail__header>h3{
    color: whitesmoke;
    font-size: 13px;
}
.send__mail__btn{
    background-color: #3070ed !important;
    text-transform: capitalize !important;
    margin-left: 15px !important;
}

.send__mail__close{
    cursor: pointer;
}

.send__mail__error{
    background-color: #fff;
    color: red;
    text-align: right;
    padding: 2px;
}

.send__mail>form{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.send__mail>form>input{
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}
.send__mail__message{
    flex: 1;
}








