* {
  margin: 0;
   
}



body {
  margin: 0;
  font-family: 'Poppins';
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins' !important;
}